html {
  background: var(--color-background);
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  line-height: 1.4;
  min-width: 20rem;
}

#root {
  min-height: 100dvh;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

::selection {
  background: var(--color-accent);
  color: var(--color-on-accent);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
